html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(10, 10, 10);
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #eee;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  margin-right: 5rem;
}

nav ul li:hover {
  text-decoration: underline;
}

nav ul li a {
  text-decoration: none;
  color: #050505;
  font-size: 1.2rem;
}

.bubble {
  position: absolute;
  z-index: -2;
  visibility: hidden;
  transform: scale(1.7);
  background: linear-gradient(to top right, #f12711, #f5af19);
  transition: all 0.5s ease;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(30, 30, 30, 0.5),
    -3px -3px 6px rgba(230, 230, 230, 0.5);
}

.logo {
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  min-height: 100vh;
  display: grid;
  font-size: 3rem;
  font-weight: bold;
  color: #eee;
}

#home {
  position: relative;
  top: -10vh;
  height: 110vh;
  grid-template-columns: 7rem 1fr 3rem 3rem;
  grid-template-rows: 0.8fr 7rem 3rem 5rem 5rem 3rem 1fr;
  column-gap: 3rem;
  grid-template-areas: 
      ". . . ."
      ". h3 . ."
      ". . . ."
      ". p1 . . "
      ". p2 . ."
      ". . . ."
      ". btn-container . .";
}

#projects {
  position: relative;
  background: #f5af19;
  top: -10vh;
  grid-template-columns: 5rem 1fr 1fr 5rem;
  grid-template-rows: 5rem 1fr 1fr 5rem;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-areas: 
    ". . . ."
    ". codepen codepen ."
    ". . . ."
    ". . . ."
  ;
}

#contact {
  position: relative;
  /* top: 35vh; */
}

#home h3, #home p {
  position: relative;
}

#home h3 {
  grid-area: h3;
}

#home h3:before {
  content: "Front-End Web Developer.";
  background: linear-gradient(to top right, #f12711, #f5af19);
  position: absolute;
  width: 100%;
  background-size: 300%;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .p1 {
  grid-area: p1;
  font-size: 1.3rem;
}

#home .p2 {
  grid-area: p2;
  font-size: 1.3rem;
}

#home .btn-container {
  position: relative;
  grid-area: btn-container;
  width: 30vw;
  z-index: 1;
}

#home .btn-website,
#home .btn-hire {
  position: relative;
  min-width: 14vw;
  min-height: 5vh;
  font-size: 1.1rem;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(30, 30, 30, 0.5),
    -3px -3px 6px rgba(230, 230, 230, 0.5);
    border: none;
  font-weight: bold;
  cursor: pointer;
}

#home .btn-website {
  grid-area: website;
  background-image: linear-gradient(to top right, #f12711, #f5af19);
  color: #fff;
}

#home .btn-hire {
  grid-area: hire;
  background-image: linear-gradient(to top right, #eee, #fff);
}

#home .btn-website:hover {
  background-image: linear-gradient(to top right, #eee, #fff);
  color: #050505;
}

#home .btn-hire:hover {
  background-image: linear-gradient(to top right, #f12711, #f5af19);
  color: #fff;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

.circle {
  display: block;
  position: absolute;
  background-image: linear-gradient(to top right, #f12711, #f5af19);
  border-radius: 50%;
  z-index: -100;
  opacity: 0.5;
}

.circle1 {
  width: 30rem;
  height: 30rem;
  top: 15rem;
  right: 15rem;
}

.circle2 {
  width: 18rem;
  height: 18rem;
  top: 32rem;
  left: 17rem;
}

.circle3 {
  width: 13rem;
  height: 13rem;
  top: 8rem;
  left: 45rem;
}

.circle4 {
  width: 16rem;
  height: 16rem;
  bottom: 8rem;
  left: 53rem;
}



.codepen {
  grid-area: codepen;
}

.btn-contact {
  width: 5vw;
  border: 1px solid black;
  height: 2vh;
  background-color: #ccc;
}

/* modal */

.modal {
  display: none; 
  position: fixed; 
  z-index: 10000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 25%; 
  height: 55%;
  border-radius: 30px;
  font-size: larger;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.fa-check-circle {
  color: #00aa00;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  max-width: 40vw;
  max-height: 75vh;
  padding: 1rem;
  font-size: medium;
  border-radius: 30px;
  background-color: white;
}

input {
  background-color: #fff;
  max-width: 15vw;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid black;
}

label {
  margin-left: 1rem;
  color: #050505;
}

.submit {
  border-radius: 30px;
  min-height: 2rem;
  width: 5vw;
  background-image: linear-gradient(to top right, #f12711, #f5af19);
  border: none;
  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.submit:active {
  transform: scale(0.95);
}